<div id="error_explanation">
  <div class="has-text-danger has-text-weight-bold is-size-6">
    2 errors prohibited this user from being saved:
  </div>
  <ul class="u-list--disc u-margin--b10">
    <li>Password is too short (minimum is 6 characters)</li>
    <li>Email Invalid Email Format</li>
  </ul>
</div>
